.stream-box {
  margin: 5px 0px 0px 0px;
  width: 100%;
  height: 70vh;
  background-color: white;
  text-align: center;
  color: white;
  border: 20px;
  border-color: #a3e0a7;
  border-style: solid;
  border-radius: 10px 0px 0px 10px;
}
